<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todoアプリ</title>
</head>
<body>
    <h1>Todo一覧</h1>
<!-- 	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />	
 -->
	<form th:action="@{/add}" method="post">
	    <input type="text" name="task" placeholder="タスクを入力">
	    <button type="submit">追加</button>
	</form>
	

    <ul>
        <li th:each="todo : ${todoList}">
            <span th:text="${todo.task}">タスク</span>
			    <form th:action="@{/delete}" method="post" style="display:inline;">
			      <input type="hidden" th:name="id" th:value="${todo.id}" />
			      <button type="submit">削除</button>
			    </form>
			    <form th:action="@{/edit}" method="get" style="display:inline;">
				    <input type="hidden" name="id" th:value="${todo.id}" />
				    <button type="submit">編集</button>
				</form>
        </li>
        
    </ul>
</body>
</html>
